.centerthis{
	text-align: center;
	position: relative;
}

.bottompic{
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
    height: auto;
}
p {
  font-family: "Avenir", Times, serif;
}