html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
}

.centerthis > #img1 {
  z-index: 1;
}

#BETA {
  text-align: center;
  font-family: "Avenir";
  /*free alternative to Avenir
	
	font-family: 'Nunito', sans-serif;
	*/
  font-weight: bolder;
}

/*save for later/
#tell {
	display: block;
	text-align: center;
	position: relative;
	font-family: "Avenir";
	color: black;

	font-size: 80%;
	padding-bottom: 4%;
}
/**/

.bottompic {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
}
.parentbox {
  max-width: 50%;
  overflow: hidden;
  background-color: transparent;
  width: 80%;
  height: 80%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

#img2 {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  height: auto;
}
