@font-face {
  font-family: "Avenir";
  src: url("../OSTEOAI/AvenirLTStd-Medium.otf");
}

/***ADI DID THIS~!~!/

@media only screen and  (orientation:portrait) and (min-width: 250px) and (max-width: 1000px) , (min-height:100px) and (max-height:1000px) {
  body {
    background-color: transparent;
  }
  .parentitem {
    max-width: 80%;
    max-height: 80%;
  }

  #img1 {
    max-width: 100%;
    max-height: 100%;
  }

  .container > .Jumbotron {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .parentbox {
    max-width: 60%;
    max-height: 80%;
  }
  #img2 {
    max-width: 100%;
    max-height: 90%;
  }
}

@media only screen and  (orientation:portrait) and (min-width: 1000px) and (max-width: 5000px) , (min-height:1000px) and (max-height:5000px)  {
  body {
    background-color: transparent;
  }
  .parentitem {
    max-width: 80%;
    max-height: 80%;
  }

  #img1 {
    max-width: 100%;
    max-height: 100%;
  }

  .container > .Jumbotron {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .parentbox {
    min-width: 60%;
    max-width: 60%;
    max-height: 40%;
  }
  #img2 {
    max-width: 60%;
    max-height: 60%;
  }
}
/*Adi DID THIS*/


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 100%;
      max-height: 90%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .parentitem {
      max-width: 80%;
      max-height: 80%;
    }
  
    #img1 {
      max-width: 100%;
      max-height: 100%;
    }
  
    .container > .Jumbotron {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .parentbox {
      max-width: 60%;
      max-height: 80%;
    }
    #img2 {
      max-width: 40%;
      max-height: 40%;
    }
}