@font-face {
    font-family: "Avenir";
    src:url("AvenirLTStd-Medium.otf");
}
#img1 {display:block;}
#img2 {display:none}

@media all and (max-width: 499px) {
    #img1 {display: none;}
    #img2 {display: block;}
}

